@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* Global Styles */
:root {
  --primary-color: #003699;
  --dark-color: #000000;
  --light-color: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--dark-color);
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

ul {
  list-style: none;
}

/* Utilities */
.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* Text Styles*/
.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.icons {
  display: flex;
}

.icons li {
  margin: 0.3rem;
}

.btn {
  display: inline-block;
  color: white;
  background: gray;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: none;
}
